@font-face {
    font-family: 'Levenim';
    src: url(http://atlesta.com/assets/fonts/Levenim-MT-Regular.ttf);
}

@font-face {
    font-family: 'LevenimBold';
    src: url(http://atlesta.com/assets/fonts/Levenim-MT-BOLD.ttf);
}

body {
	background-color: #111;
	font-family: 'Levenim', 'LevenimBold', 'Helvetica';
	color: #efefef;
}

h1,h2,h3,h4,h5,h6, a {	
	font-family: 'Levenim', 'LevenimBold', 'Times New Roman';
	color: #efefef;
}

a:hover {
	text-decoration: none;
	
}

.logo {
	margin: 20px 0;
}

.logo img{
	width: 100%;
}


.cover {
	margin-bottom: 60px;
}

.cover h1{
	letter-spacing: 0.15em;
}
.cover h4{
	letter-spacing: 0.10em;
}
.cover h5{
	letter-spacing: 0.10em;
	line-height: 24px;
}
.cover img {
	width: 100%;
}

.youtube {
	margin-bottom: 60px;
}

.youtube img{
	width: 100%;
}

.newsletter {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin: 40px 0;
}

.newsletter h3{
	letter-spacing: 0.10em;
}

.form-control{
	background: #333;
	border: none;
	color: #efefef;
	height: 40px;
	font-family: 'Levenim';
	text-align: center;
}

.form-control-button{
	font-family: 'Levenim';
	background: none;
	color: #efefef;
	border: none;
	font-size: 22px;
	letter-spacing: 0.10em;
	margin-top: 20px;
}

.form-control-button :hover{
	
}
.btn-submit{
	background:none;
	border:none;
	font-size: 22px;
	letter-spacing: 0.10em;
}
.btn-close{
	background:none;
	border:none;
	font-size: 11px;
}
.soundcloud {
	margin: 60px 0;
}

.entersite {
	margin: 40px 0 80px 0;
}

.entersite h1{
	letter-spacing: 0.10em;
}

.navigation {
	letter-spacing: 0.10em;
	font-size: 16px;
	line-height: 28px;
}


#blog-landing {
	position: relative;
	max-width: 100%;
	width: 95%;
	margin-left: 30px;
	margin-bottom: 30px;
}
#blog-landing img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.white-panel {
	position: absolute;
	background: rgba(11,11,11,0.8);	
}

.white-panel:hover {
	background: #000;
}

.pinterestgrid-title {
	color:#efefef;
	padding: 10px 0;
}

.twitter{
	background: #000;
	padding: 20px;
	
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
background-color: rgba(255,255,255,0.1);
}
.copyright {
	color; #efefef;
}

.content{
	
}

.content img{
	width: 100%;
}

.content h1{
	 text-transform: uppercase;
}